.box{
 border: 35px solid rgb(58, 58, 58);  
 height:0px;
 color: white;
 text-align: center;
 padding:0px;
 margin:0px;
 letter-spacing:6px;
 font-size:20px;
 
 
 
}

body{
    background-color:rgb(190, 188, 188);
    margin:0px;
}

input{
    border-radius:10px;
    width:450px;
    height:30px;
    background-color:rgb(58, 58, 58); 
    letter-spacing:3px;
    position: absolute; 
    right: 80px;
    padding:6px;
    margin:60px;
    
}

.box1{
    background-color:rgb(58, 58, 58); 
    width:250px;
    height:450px;
    position: absolute; 
    left:1px;
    margin:70px;
    padding:10px;
    border-radius:14px;
        
}

.box6{
    background-color:rgb(58, 58, 58); 
    width:700px;
    height:135px;
    position: absolute;
    bottom:1px;
    right:10px;
    margin:50px;
    border-radius:14px;
}


.box3{
    background-color:rgb(58, 58, 58); 
    width:230px;
    height:150px;
    position:absolute;
    right: 75px;
    bottom:1px;
    margin-bottom:250px;
    margin-right:280px;
    border-radius:14px;
   
}

.box4{
    background-color:rgb(58, 58, 58); 
    width:230px;
    height:150px;
    position:absolute;
    right: 60px;
    bottom:1px;
    margin-bottom:250px;
    border-radius:14px;
}

.box5{
    background-color:rgb(58, 58, 58); 
    width:230px;
    height:150px;
    position:absolute;
    right: 18px;
    margin-top:180px;
    margin-right:640px;
    border-radius:14px;  
 
}

.fa-github{
    position:absolute;
    left: 18px;
    font-size:30px;
    top: 1px;
    margin-top:24px;
    
}